---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Handmade from '../components/Handmade.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="ホーム">
  <Header />
  <main>
    <Hero />
    <Services />
    <Handmade />
    <Contact />
  </main>
  <Footer />
</Layout>