---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import CompanyOverview from '../components/CompanyOverview.astro';
import Services from '../components/Services.astro';
import Handmade from '../components/Handmade.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import LatestNews from '../components/LatestNews.astro';
---

<Layout title="Wells合同会社 | 半径3メートルから始める変化">
  <Header />
  <main>
    <Hero />
    <Services />
    <Handmade />
    <LatestNews />
    <Contact />
    <CompanyOverview />
  </main>
  <Footer />
</Layout>